@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-size: 80%;
  background-color: #ffffff;
}

body {
  font-family: "Sora", ui-sans-serif, system-ui, sans-serif;
  background-color: #ffffff;
}

canvas {
  display: block;
}
